## 1. BASICS

### 1.1:

In [1]:
3+1

4

In [3]:
3*3

9

In [4]:
2**3

8

In [5]:
"Hello, world!"

'Hello, world!'

1.2)   When we run this script, we calculate this basics math operations and print Hello, world!

In [6]:
'py'+'thon'

'python'

In [7]:
'py'*3+'thon'

'pypypython'

In [8]:
'py'-'py'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [9]:
3*'3'

'333'

In [10]:
a

NameError: name 'a' is not defined

In [11]:
a=3

In [12]:
a

3

Exercise 1.3 -->in c option we cant substract 2 string values.

In [13]:
1==1

True

In [14]:
1==true

NameError: name 'true' is not defined

In [15]:
0==true

NameError: name 'true' is not defined

In [16]:
0==false

NameError: name 'false' is not defined

In [17]:
3==1*3

True

In [18]:
(3==1)*3

0

in this exercise when we multiplaction false variable and 3 we calculete 0

In [19]:
(3 == 3) * 4 + 3 == 1

False

when we add true to false variables we calculate false variable

In [20]:
 3**5 >= 4**4

False

###  1.5:INTEGERS

In [21]:
5/3

1.6666666666666667

In [22]:
5%3

2

5mod3 =2

In [23]:
5.0 / 3

1.6666666666666667

In [24]:
5 / 3.0

1.6666666666666667

In [25]:
5.2 % 3

2.2

In [26]:
2001 ** 200

1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

### 1.6:Floats

In [27]:
2000.3 ** 200

OverflowError: (34, 'Result too large')

the results too large for float value

In [28]:
1.0 + 1.0 - 1.0

1.0

In [29]:
1.0 + 1.0e20 - 1.0e20

0.0

### 1.7:

In [31]:
"Hello, Mustafa Bulut"

'Hello, Mustafa Bulut'

In [32]:
float(123)

123.0

we add ',' to int variables for using float

In [34]:
float(’123’)

SyntaxError: invalid character '’' (U+2019) (Temp/ipykernel_12732/744351499.py, line 1)

we cant cast string variables to float

In [35]:
float(’123.23’)

SyntaxError: invalid character '’' (U+2019) (Temp/ipykernel_12732/2284293612.py, line 1)

In [36]:
int(123.23)

123

we remove ',' why casting float to int

In [37]:
int(’123.23’)

SyntaxError: invalid character '’' (U+2019) (Temp/ipykernel_12732/629681956.py, line 1)

we cant cast string variables to float

In [38]:
int(float(’123.23’))

SyntaxError: invalid character '’' (U+2019) (Temp/ipykernel_12732/676131684.py, line 1)

we cant cast string variables to float

In [40]:
str(12)

'12'

In [41]:
str(12.2)

'12.2'

this variables string now

In [42]:
bool(’a’)

SyntaxError: invalid character '’' (U+2019) (Temp/ipykernel_12732/2240686934.py, line 1)

we can use true or false

In [43]:
bool(0)

False

In [44]:
bool(0.1)

True

#  2-Control Flow

In [45]:
range(5)

range(0, 5)

In [46]:
type(range(5))

range

it's start from 0(initial value for python) and go to 5

In [47]:
for i in range(101):
    print(i , end=',')

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [48]:
for i in range (0,101,7):
    print(i,end=',')

0,7,14,21,28,35,42,49,56,63,70,77,84,91,98,

In [50]:
for i in range(1,101):
    if(i%5==0 and i%3!=0):
        print(i,end=',')

5,10,20,25,35,40,50,55,65,70,80,85,95,100,

In [53]:
for i in range(1,20):
    if(20 % i==0):
        print(i,end=',')
    i=i+1

1,2,4,5,10,

In [1]:
n=0
while(n<101):
    print(n,end=',')
    n +=1

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [2]:
n = 1
while(n<101):
    if(n %7==0):
        print(n,end=',')
    n +=1

7,14,21,28,35,42,49,56,63,70,77,84,91,98,

In [4]:
number_found = 0
n=1
while(number_found < 20):
    if(n%5 == 0 and n%7 == 0 and n%11==0):
        print(n,end=',')
        number_found +=1
    n+=1

385,770,1155,1540,1925,2310,2695,3080,3465,3850,4235,4620,5005,5390,5775,6160,6545,6930,7315,7700,

In [5]:
n = 1
while(n<5000):
    if(n%1 == 0 and n%2==0 and n%3==0 and n%4==0 and n%5==0 and n%6==0 and n%7==0 and n%8==0 and n%9==0 and n%10==0):
        print(n)
    n+=1

2520

In [6]:
n = 103
while(n!=1):
    if(n%2 == 0):
        n = n/2        
    elif(n%2==1):
        n=3*n+1
    print(int(n),end=',')

310,155,466,233,700,350,175,526,263,790,395,1186,593,1780,890,445,1336,668,334,167,502,251,754,377,1132,566,283,850,425,1276,638,319,958,479,1438,719,2158,1079,3238,1619,4858,2429,7288,3644,1822,911,2734,1367,4102,2051,6154,3077,9232,4616,2308,1154,577,1732,866,433,1300,650,325,976,488,244,122,61,184,92,46,23,70,35,106,53,160,80,40,20,10,5,16,8,4,2,1,

# 3-Functions

In [12]:
def hello_world():
    print('Hello, world')
hello_world()

Hello, world

In [13]:
def hello_name(name):
    print('Hello, ' +name)
hello_name('Mustafa')

Hello, Mustafa

C: Return keyword is variable that the function result back to the caller
print is a function that print the variables. Return show how a function gives back a value

In [19]:
def poly(a):
    print(3*(a*a)-a+2)
    
poly(4)

46

In [20]:
def my_max(x,y):
    if(x>y):
        return x
    else:
        return y
my_max(3,2)

3

In [21]:
def my_max(x,y):
    if(x>y):
        return x
    if(x>y):
        return y
my_max(3,4)

4